@import "../../style/variables.scss";

// 滚动条样式优化
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(#101f1c, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101f1c, 1);
}


/* 导航 */
header {
  .navbar {
    margin-bottom: 0;
    background-color: #04084f;
    .logo {
      width: 270px;
      height: 50px;
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 30px;
        align-items: center;
      }
    }
    @media (max-width: 750px) {
      .logo {
        margin-left: 7.5px;
      }
      .navbar-toggle {
        border: solid #fff 1px;
        span {
          border-bottom: 1px #fff solid;
        }
      }
    }
    h1 {
      float: left;
      margin: 0;
      width: 210px;
      font-size: 16px;
      font-family: "Ma Shan Zheng", cursive;
      font-weight: 400;
      color: #ffffff;
      letter-spacing: 1px;
      overflow: hidden;
      border-right: 1px solid transparent;
      margin-left: 5px;
      white-space: nowrap;
      animation: typing 10s steps(36) 0s infinite backwards, caret 500ms steps(1) 0s infinite forwards;
    }
    @keyframes caret {
      50% {
        border-right-color: currentColor;
      }
    }
    @keyframes typing {
      from {
          width: 0;
      }
    }
    .nav {
      li {
        .active {
          color: #e64e4e;
        }
        a {
          color: #ffffff;
          font-size: 12px;
          font-family: "Noto Sans SC", sans-serif;
          letter-spacing: 0.5px;
          font-weight: 400;
        }
        @media (max-width: 970px) {
          a {
            padding: 12px 10px;
            font-size: 12px;
          }
        }
        @media (max-width: 750px) {
          a {
            text-align: center;
          }
        }
        a:hover {
          color: #ff9797;
          background-color: #04084f;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 0;
    }
  }
}

/* banner */
.banner {
  width: 100%;
  height: 250px;
  background: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/banner.png") no-repeat center center;
  background-size: 100% 100%;
}
@media (max-width: 1024px) {
  .banner {
    height: 200px;
  }
}
@media (max-width: 750px) {
  .banner {
    height: 150px;
  }
}

/* 系统介绍 */
.introduction {
  width: 100%;
  .box-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: 400px;

    .img-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;

      img {
        width: 200px;
        height: 200px;
      }
      @media (max-width: 1024px) {
        img {
          width: 180px;
          height: 180px;
        }
      }
      @media (max-width: 750px) {
        img {
          width: 120px;
          height: 120px;
        }
      }
    }
    @media (max-width: 668px) {
      .img-box {
        display: none;
      }
    }
    .description-box {
      width: 470px;
      .label-box {
        width: 100px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: #e64e4e;
        border-radius: 30px;
        margin: 0 auto 30px;
      }
      @media (max-width: 1024px) {
        .label-box {
          margin: 0 auto 20px;
        } 
      }
      @media (max-width: 750px) {
        .label-box {
          width: 80px;
          height: 25px;
          line-height: 25px;
          font-size: 11px;
          margin: 0 auto 15px;
        }
      }
      @media (max-width: 668px) {
        .label-box {
          width: 90px;
          height: 30px;
          line-height: 30px;
          font-size: 14px;
          margin: 20px auto 10px;
        }
      }
      .text-box {
        font-size: 14px;
        font-family: "Noto Sans SC", sans-serif;
        color: #333;
        p {
          line-height: 18px;
          text-indent: 25px;
          font-weight: 400;
          letter-spacing: 1px;
        }
        @media (max-width: 1024px) {
          p {
            margin: 0 0 5px;
          }
        }
        @media (max-width: 750px) {
          p {
            margin: 0 0 2px;
          }
        }
        @media (max-width: 668px) {
          p {
            margin: 0 0 5px;
          }
        }
      }
      @media (max-width: 1024px) {
        .text-box {
          font-size: 13px;
        }
        
      }
      @media (max-width: 750px) {
        .text-box {
          font-size: 11px;
        }
      }
      @media (max-width: 668px) {
        .text-box {
          font-size: 14px;
        }
      }
    }
    @media (max-width: 1024px) {
      .description-box {
        width: 370px;
      }
    }
    @media (max-width: 750px) {
      .description-box {
        width: 400px;
      } 
    } 
    @media (max-width: 668px) {
      .description-box {
        width: 100%;
        height: 100%;
      } 
    }
  }
  @media (max-width: 1024px) {
    .box-introduction {
      width: 600px;
      height: 300px;
    }
  }
  @media (max-width: 750px) {
    .box-introduction {
      width: 80%;
      height: 200px;
    }
  }
  @media (max-width: 445px) {
    .box-introduction {
      width: 80%;
      height: 268px;
    }
  }
}

/* 核心功能 */
.features-section {
  width: 100%;
  background-color: #f2f2f4;
  .box-features {
    width: 50%;
    margin: 0 auto;
    height: 350px;
    display: flex;
    .description-box {
      width: 70%;
      .label-box {
        width: 100px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: #e64e4e;
        border-radius: 30px;
        margin: 50px auto 0;
      }
      @media (max-width: 940px) {
        .label-box {
          margin-top: 30px;
        }
      }
      .ul-box {
        margin-top: 37px;
        width: 100%;
        .li-box {
          width: 50%;
          height: 50px;
          float: left;
          display: flex;
          flex-direction: row;
          margin-bottom: 20px;
          .box-img {
            width: 33px;
            height: 30px;
            margin-top: 5px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .box-content {
            margin-left: 20px;
            font-family: "Noto Sans SC", sans-serif;
            .boxcontent-title {
              color: #333333;
              font-size: 14px;
              font-weight: 550;
            }
            .boxcontent-text {
              color: #666666;
              font-size: 12px;
              width: 168px;
            }
            @media (max-width: 515px) {
              .boxcontent-text {
                width: 100%;
              }
            }
          }
        }
       
        @media (max-width: 940px) {
          .li-box {
            margin-bottom: 10px;
          }
        }
        @media (max-width: 515px) {
          .li-box {
            width: 100%;
          }
        }
      }
      @media (max-width: 940px) {
        .ul-box {
          margin-top: 20px;
        }
      }
    }
    @media (max-width: 940px) {
      .description-box {
        width: 100%;
      }
    }
    .img-box {
      position: relative;
      width: 30%;
      height: 100%;
      img {
        position: absolute;
        top: -25px;
        right: 0;
        width: 100%;
        height: 320px;
      }
      @media (max-width: 1500px) {
        img {
          width: 100%;
          height: 270px;
        }
      }
      @media (max-width: 1360px) {
        img {
          width: 100%;
          height: 290px;
        }
      }
    }
    @media (max-width: 940px) {
      .img-box {
        display: none;
      }
    }
  }
  @media (max-width: 1360px) {
    .box-features {
      width: 60%;
    }
  }
  @media (max-width: 1096px) {
    .box-features {
      width: 70%;
    }
  }
  @media (max-width: 940px) {
    .box-features  {
      height: 270px;
    }
  }
  @media (max-width: 665px) {
    .box-features  {
      width: 90%;
    }
  }
  @media (max-width: 515px) {
    .box-features  {
      width: 55%;
      height: 470px;
    }
  }
}

.advantage {
  width: 45%;
  height: 480px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
  .advantage-title {
    width: 100px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #e64e4e;
    border-radius: 30px;
    margin: 0px auto 40px;
  }
  @media (max-width: 1190px) {
    .advantage-title {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 991px) {
    .advantage-title {
      margin-bottom: 0;
    }
  }
  @media (max-width: 635px) {
    .advantage-title {
      margin-bottom: 10px;
    }
  }
  .advantage-classify {
    padding-left: 0;
    .advantage-type {
      height: 300px;
      text-align: center;
      transition: all 0.2s ease-in;
      .advanragetype-img {
        width: 155px;
        height: 100px;
        margin: 46px auto 35px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      @media (max-width: 1591px) {
        .advanragetype-img {
          width: 130px;
          height: 90px;
          margin: 20px auto 15px;
        }
      }
      @media (max-width: 1190px) {
        .advanragetype-img {
          width: 100px;
          height: 70px;
          margin: 20px auto 15px;
        }
      }
      .advanragetype-title {
        font-size: 16px;
        color: #333333;
        font-weight: 550;
        font-family: "Noto Sans SC", sans-serif;
      }
      @media (max-width: 1190px) {
        .advanragetype-title {
          font-size: 14px;
        }
      }
      .advanragetype-division {
        width: 54px;
        height: 2px;
        background-color: #e64e4e;
        margin: 10px auto;
      }
      .advanragetype-content {
        font-size: 14px;
        font-family: "Noto Sans SC", sans-serif;
        color: #666666;
        margin: 0 auto;
      }
      @media (max-width: 1190px) {
        .advanragetype-content {
          font-size: 12px;
        }
      }
    }
    @media (max-width: 1190px) {
      .advantage-type {
        height: 270px;
      }
    }
    @media (max-width: 991px) {
      .advantage-type {
        height: 170px;
      }
    }
    @media (max-width: 635px) {
      .advantage-type {
        height: 230px;
      }
      .col-md-4 {
        height: 230px;
        padding-top: 1px;
      }
    }
    @media (max-width: 420px) {
      .advantage-type {
        height: 245px;
      }
    }
    .advantage-type:hover {
      -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      -webkit-transform: translate3d(0, 0px, -2px);
      transform: translate3d(0, 1px, -2px);
    }
  }
}
@media (max-width: 1190px) {
  .advantage {
    height: 380px;
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media (max-width: 991px) {
  .advantage {
    height: 680px;
  }
}
@media (max-width: 635px) {
  .advantage {
    height: 800px;
  }
}
@media (max-width: 420px) {
  .advantage {
    height: 835px;
  }
}
.last {
  background-image: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/footer.png");
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-size: 100% 100%;
  .last-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
    height: 200px;
    .button-box {
      margin-right: 170px;
      margin-top: 50px;
      .operation {
        border-style: none;
        border-radius: 50px;
        width: 140px;
        height: 40px;
        outline: none;
        background: $hr-color;
        font-family: "Noto Sans SC", sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: #fff;
        letter-spacing: 2px;
        line-height: 40px;

        img {
          width: 20px;
          height: 20px;
        }
        @media (max-width: 991px) {
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
      @media (max-width: 991px) {
        .operation{
          width: 100px;
          font-size: 12px;
          height: 33px;
          line-height: 33px;
        }
      }
      .operation:hover {
        background-color: $hr-color;
        opacity: 0.85; //这里重要，就是通过这个透明度来设置
      }

      .operation:active {
        border-style: none;
        border-radius: 50px;
        width: 140px;
        height: 40px;
        background: $hr-color;
        opacity: 0.7; //这里重要，就是通过这个透明度来设置
        color: #fff;
      }
    }
    @media (max-width: 991px) {
      .button-box {
        margin-right: 202px;
      }
    }
    .content-box {
      margin-top: 20px;
      width: 300px;
      span {
        border-radius: 50px;
        font-family: "Noto Sans SC", sans-serif;
        font-weight: 100;
        font-size: 10px;
        color: #fff;
        letter-spacing: 2px;
      }
    }
  }
  @media (max-width: 991px) {
    .last-box {
      height: 150px;
    }
  }
  @media (max-width: 680px) {
    .last-box {
      width: 58%;
    }
  }
  @media (max-width: 540px) {
    .last-box {
      width: 80%;
    }
  }
  @media (max-width: 385px) {
    .last-box {
      width: 95%;
    }
  }
}

.record-information {
  width: 100%;
  height: 50px;
  background-color: $nav-color;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 10px;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 500;
    color: #ffffff;
  }
}

/*回到顶部以及客服 css*/
.izl-rmenu {
  margin-right: 0;
  width: 82px;
  position: fixed;
  right: 2px;
  top: 65%;
  -webkit-box-shadow: #DDD 0px 1px 5px;
  -moz-box-shadow: #DDD 0px 1px 5px;
  box-shadow: #DDD 0px 1px 5px;
  z-index: 999;
}

.izl-rmenu .consult {
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center -77px;
  display: block;
  height: 76px;
  width: 82px;
}

.izl-rmenu .consult .phone {
  background-color: #f7f7ff;
  position: absolute;
  width: 160px;
  left: -160px;
  top: 0px;
  line-height: 73px;
  color: #000;
  font-size: 18px;
  text-align: center;
  display: none;
  box-shadow: #DDD -1px 1px 4px;
}

.izl-rmenu a.consult:hover .phone {
  display: inline !important;
}

.izl-rmenu .cart {
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  height: 16px;
  width: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #45BDFF;
  text-align: center;
  padding-top: 15px;
  padding-right: 34px;
  padding-bottom: 47px;
  padding-left: 48px;
}

.izl-rmenu a.cart:hover .pic {
  display: block;
}

.izl-rmenu .btn_top {
  background-image: url(../../image/test/float_top.gif);
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  height: 39px;
  width: 82px;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.izl-rmenu .btn_top:hover {
  background-image: url(../../image/test/float_top.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.izl-rmenu .cart .pic {
  display: none;
  position: absolute;
  left: -160px;
  top: 65px;
  width: 160px;
  height: 160px;
  background: url(../../image/test/weixin.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#udesk-feedback-tab {
  position: fixed;
  right: 2px;
  top: 65%;
  margin-top: -76px;
  -webkit-box-shadow: #DDD 0px -1px 5px;
  -moz-box-shadow: #DDD 0px -1px 5px;
  box-shadow: #DDD 0px -1px 5px;
  cursor: pointer;
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  height: 76px;
  width: 82px;
  background-color: #FFF !important;
  z-index: 999;
}

.udesk-feedback-tab-left, .izl-rmenu {
  opacity: 0.9;
}