@import "../../style/variables.scss";
@import "../../style/navbar.scss";
@import "../../style/mixins";

// 滚动条样式优化
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(#101f1c, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101f1c, 1);
}

.swiper-container {
  margin-top: 50px;
  width: 100%;
  height: 250px;
  text-align: center;
  z-index: 2021;
  img {
    width: 100%;
    height: 100%;
  }
}

.introduction {
  width: 100%;
  .box-introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 800px;
    height: 400px;
  
    .img-box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
  
      img {
        width: 200px;
        height: 200px;
      }
    }
    .description-box {
      width: 470px;
      .label-box {
        width: 100px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: #E64E4E;
        border-radius: 30px;
        margin: 0 auto 30px;
      }
  
      .text-box {
          font-size: 14px;
          font-family: "Noto Sans SC", sans-serif;
          color: #333;
        p {
          line-height: 18px;
          text-indent: 25px;
          font-weight: 400;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.features-section {
  width: 100%;
  background-color: #F2F2F4;
  .box-features {
    width: 50%;
    margin: 0 auto;
    height: 350px;
    display: flex;
    .description-box {
      flex: 2;
      .label-box {
        width: 100px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        background-color: #E64E4E;
        border-radius: 30px;
        margin: 50px auto 0;
      }
      .ul-box {
        margin-top: 37px;
        width: 100%;
        .li-box {
          width: 50%;
          height: 50px;
          float: left;
          display: flex;
          flex-direction: row;
          margin-bottom: 20px;
          .box-img {
            width: 33px;
            height: 30px;
            margin-top: 5px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .box-content {
            margin-left: 20px;
            font-family: "Noto Sans SC", sans-serif;
            .boxcontent-title {
              color: #333333;
              font-size: 14px;
              font-weight: 550;
            }
            .boxcontent-text {
              color: #666666;
              font-size: 12px;
              width: 168px;
              margin-top: 8px;
            }
          }
        }
      }
    }
    .img-box {
      position: relative;
      flex: 1;
      width: 221px;
      height: 100%;
      img {
        position: absolute;
        top: -25px;
        width: 100%;
        height: 350px;   
      }
    }
  }
}

.box-advantage {
  width: 60%;
  height: 400px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
  .advantage-title {
    width: 100px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #E64E4E;
    border-radius: 30px;
    margin: 0px auto 40px;
  }
  .tab-box {
    display: flex;
    .tab-article {
      flex: 1;
      height: 300px;
      text-align: center;
      transition: all 0.2s ease-in;
      .tab-img {
        width: 155px;
        height: 100px;
        margin: 46px auto 35px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .tab-title {
        font-size: 16px;
        color: #333333;
        font-weight: 550;
        font-family: "Noto Sans SC", sans-serif;
      }
      .tab-division {
        width: 54px;
        height: 2px;
        background-color: #E64E4E;
        margin: 10px auto;
      }
      .tab-content {
        width: 350px;
        font-size: 14px;
        font-family: "Noto Sans SC", sans-serif;
        color: #666666;
        margin: 0 auto;
      }
    }
    .tab-article:hover {
      -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
      box-shadow: 0 0 30px rgba(0,0,0,0.15);
      -webkit-transform: translate3d(0, 0px, -2px);
      transform: translate3d(0, 1px, -2px);
    }
  }
}

.last {
  background-image: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/footer.png");
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-size: 100.2%;
  .last-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 750px;
    height: 200px;
    .button-box {
      margin-right: 170px;
      margin-top: 50px;
      .operation {
        border-style: none;
        border-radius: 50px;
        width: 140px;
        height: 40px;
        outline: none;
        background: $hr-color;
        font-family: "Noto Sans SC", sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: #fff;
        letter-spacing: 2px;
        line-height: 40px;

        img {
          width: 20px;
          height: 20px;
        }
      }
      .operation:hover {
        background-color: $hr-color;
        opacity: 0.85; //这里重要，就是通过这个透明度来设置
      }

      .operation:active {
        border-style: none;
        border-radius: 50px;
        width: 140px;
        height: 40px;
        background: $hr-color;
        opacity: 0.7; //这里重要，就是通过这个透明度来设置
        color: #fff;
      }
    }

    .content-box {
      margin-top: 20px;
      width: 300px;
      span {
        border-radius: 50px;
        font-family: "Noto Sans SC", sans-serif;
        font-weight: 100;
        font-size: 10px;
        color: #fff;
        letter-spacing: 2px;
      }
    }
  }
}

.record-information {
  width: 100%;
  height: 50px;
  background-color: $nav-color;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 10px;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 500;
    color: #ffffff;
  }
}
