@import "../../style/_variables.scss";
@import "../../style/mixins";

// 滚动条样式优化
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(#101f1c, 0.1);

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(#101f1c, 0.5);
  background-clip: padding-box;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101f1c, 1);
}

/* 导航 */
header {
  .navbar {
    margin-bottom: 0;
    background-color: #04084f;
    .logo {
      display: flex;
      align-items: center;
      width: 270px;
      height: 50px;
      img {
        align-items: center;
        width: 30px;
        height: 30px;
      }
    }
    @media (max-width: 750px) {
      .logo {
        margin-left: 7.5px;
      }
      .navbar-toggle {
        border: solid #fff 1px;
        span {
          border-bottom: 1px #fff solid;
        }
      }
    }
    h1 {
      overflow: hidden;
      float: left;
      margin: 0;
      margin-left: 5px;
      border-right: 1px solid transparent;
      width: 210px;
      font-family: "Ma Shan Zheng", cursive;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      letter-spacing: 1px;
      white-space: nowrap;
      animation: typing 10s steps(36) 0s infinite backwards, caret 500ms steps(1) 0s infinite forwards;
    }
    @keyframes caret {
      50% {
        border-right-color: currentColor;
      }
    }
    @keyframes typing {
      from {
        width: 0;
      }
    }
    .nav {
      li {
        .active {
          color: #e64e4e;
        }
        a {
          font-family: "Noto Sans SC", sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #fff;
          letter-spacing: 0.5px;
        }
        @media (max-width: 970px) {
          a {
            padding: 12px 10px;
            font-size: 12px;
          }
        }
        @media (max-width: 750px) {
          a {
            text-align: center;
          }
        }
        a:hover {
          background-color: #04084f;
          color: #ff9797;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 0;
    }
  }
}

/* banner */
.banner {
  width: 100%;
  height: 510px;
  background: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/bannerOne.png") no-repeat center center;
  background-size: 100% 100%;
}
@media (max-width: 1024px) {
  .banner {
    height: 200px;
  }
}
@media (max-width: 750px) {
  .banner {
    height: 150px;
  }
}

/* 系统介绍 */
.introduction {
  margin: 230px 0 40px 0;
  width: 100%;
  .box-introduction {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    background-color: #f2f2f3;
    border-radius: 5px;

    .img-box {
      display: flex;
      position: absolute;
      right: 35px;
      bottom: 85px;
      justify-content: flex-end;
      align-items: center;
      height: 100%;

      img {
        width: 650px;
        height: 430px;
        border-radius: 5px;
      }
    }
    .description-box {
      width: 470px;
      .label-box {
        margin: 0 auto 30px;
        border-radius: 30px;
        width: 100px;
        height: 33px;
        background-color: #e64e4e;
        line-height: 33px;
        text-align: center;
        font-size: 14px;
        color: #fff;
      }
      .text-box {
        padding: 0 0 0 35px;
        font-family: "Noto Sans SC", sans-serif;
        font-size: 14px;
        color: #333;
        p {
          line-height: 18px;
          text-indent: 25px;
          font-weight: 400;
          letter-spacing: 1px;
        }
      }
    }
  }
}

/* 核心功能 */
.features-section {
  margin: 0 0 50px 0;
  width: 100%;
  .box-features {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
    height: 350px;
    .description-box {
      width: 100%;
      .label-box {
        margin: 50px auto 0;
        border-radius: 30px;
        width: 100px;
        height: 33px;
        background-color: #e64e4e;
        line-height: 33px;
        text-align: center;
        font-size: 14px;
        color: #fff;
      }
      .description-text {
        margin: 10px 0 0 0;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #666;
      }
    }

    .img-box {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      .box-list {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        .box-top {
          flex: 5;
          width: 280px;
        }
        .box-hr {
          margin: 0;
          width: 280px;
          height: 2px;
          background: #4e84e6;
        }
        .box-bottom {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 5;
          width: 280px;
          transition: 0.6s steps(11);

          .box-text {
            margin: 35px 0 0 0;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 5px;
          }
        }
        .box-icon {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 106px;
        }
      }
      .box-list:hover .box-bottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 1px 1px 20px #ccc;
      }
    }
  }
}

/*产品优势*/
.advantage {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
  width: 1200px;
  height: 600px;
  background-color: #fff;
  @media (max-width: 1200px) {
    width: 45%;
  }
  @media (max-width: 1190px) {
    padding-top: 30px;
    padding-bottom: 0;
  }
  @media (max-width: 991px) {
    height: 780px;
  }
  @media (max-width: 635px) {
    height: 900px;
  }
  @media (max-width: 420px) {
    height: 935px;
  }
  .advantage-title {
    margin: 0 auto 40px;
    border-radius: 30px;
    width: 100px;
    height: 33px;
    background-color: #e64e4e;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    @media (max-width: 1190px) {
      margin-bottom: 20px;
    }
    @media (max-width: 991px) {
      margin-bottom: 0;
    }
    @media (max-width: 635px) {
      margin-bottom: 10px;
    }
  }
  .advantage-classify {
    padding-left: 0;
    .advantage-type {
      height: 380px;
      text-align: center;
      transition: all 0.2s ease-in;
      @media (max-width: 1190px) {
        height: 270px;
      }
      @media (max-width: 991px) {
        height: 170px;
      }
      @media (max-width: 635px) {
        height: 230px;
        .col-md-4 {
          padding-top: 1px;
          height: 230px;
        }
      }
      @media (max-width: 420px) {
        height: 245px;
      }
      .advanragetype-img {
        margin: 46px auto 35px;
        width: 155px;
        height: 100px;
        @media (max-width: 1591px) {
          margin: 20px auto 15px;
          width: 130px;
          height: 90px;
        }
        @media (max-width: 1190px) {
          margin: 20px auto 15px;
          width: 100px;
          height: 70px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .advanragetype-title {
        font-family: "Noto Sans SC", sans-serif;
        font-weight: 550;
        font-size: 16px;
        color: #333;
        @media (max-width: 1190px) {
          font-size: 14px;
        }
      }
      .advanragetype-division {
        margin: 10px auto;
        width: 54px;
        height: 2px;
        background-color: #e64e4e;
      }
      .advanragetype-content {
        margin: 0 auto;
        font-family: "Noto Sans SC", sans-serif;
        font-size: 14px;
        color: #666;
        @media (max-width: 1190px) {
          font-size: 12px;
        }
      }
    }
    .advantage-type:hover {
      border-radius: 5px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      transition: 0.6s steps(11);
    }
  }
}

.suolomo {
  width: 100%;
  height: 540px;
  background-image: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/footer.png");
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-size: 100% 100%;
  .suolomo-box {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    .image-box {
      display: flex;
      align-items: center;
      img {
        width: 445px;
        height: 405px;
      }
    }
    .content-box {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 0 60px;
      .content-title {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        .point {
          margin: 0 5px 0 5px;
          font-size: 25px;
          font-weight: 600;
        }
      }
      .content-logo {
        margin: 40px 0 0 0;
        img {
          width: 185px;
          height: 45px;
        }
      }
      .content-text {
        margin: 20px 0 0 0;
        span {
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
        }
      }
      .content-button {
        margin: 60px 0 0 0;
        .operation {
          border-style: none;
          border-radius: 50px;
          width: 140px;
          height: 40px;
          outline: none;
          background: $hr-color;
          line-height: 40px;
          font-family: "Noto Sans SC", sans-serif;
          font-weight: 100;
          font-size: 14px;
          color: #fff;
          letter-spacing: 2px;

          img {
            width: 20px;
            height: 20px;
          }
        }
        .operation:hover {
          background-color: $hr-color;
          opacity: 0.85; //这里重要，就是通过这个透明度来设置
        }

        .operation:active {
          border-style: none;
          border-radius: 50px;
          width: 140px;
          height: 40px;
          background: $hr-color;
          opacity: 0.7; //这里重要，就是通过这个透明度来设置
          color: #fff;
        }
      }
    }
  }
}

/*操作手册*/
.operationManual-section {
  margin: 0 0 50px 0;
  width: 100%;
  .box-operationManual {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    .description-box {
      width: 100%;
      .label-box {
        margin: 50px auto 0;
        border-radius: 30px;
        width: 100px;
        height: 33px;
        background-color: #e64e4e;
        line-height: 33px;
        text-align: center;
        font-size: 14px;
        color: #fff;
      }
      .description-text {
        margin: 10px 0 0 0;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #666;
      }
    }
    .box-manual {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      .manual-list {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 50px 0 0 0;

        .list {
          flex: 1;
          list-style: none;
          height: 125px;
          box-shadow: 0px 0px 10px 0px rgba(4, 8, 79, 0.07);
          margin: 0 10px 0 0;
          border-radius: 5px;
          transition: all 0.6s steps(100);
          overflow: hidden;

          .list-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .user-box {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: 13px 0 0 0;
              img {
                width: 70px;
              }
              span {
                font-size: 14px;
                font-weight: 500;
                color: #333333;
                margin-top: 10px;
              }
            }
            @include dw-button;
          }
        }
        .list:hover {
          height: 220px;
        }
      }
    }
  }
}

.record-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $nav-color;

  span {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
  }
}

/*回到顶部以及客服 css*/
.izl-rmenu {
  position: fixed;
  right: 2px;
  top: 65%;
  z-index: 999;
  margin-right: 0;
  width: 82px;
  box-shadow: #ddd 0 1px 5px;

  -webkit-box-shadow: #ddd 0 1px 5px;
  -moz-box-shadow: #ddd 0 1px 5px;
}

.izl-rmenu .consult {
  display: block;
  width: 82px;
  height: 76px;
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center -77px;
}

.izl-rmenu .consult .phone {
  display: none;
  position: absolute;
  left: -160px;
  top: 0;
  width: 160px;
  background-color: #f7f7ff;
  box-shadow: #ddd -1px 1px 4px;
  line-height: 73px;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.izl-rmenu a.consult:hover .phone {
  display: inline !important;
}

.izl-rmenu .cart {
  display: block;
  padding-left: 48px;
  padding-right: 34px;
  padding-top: 15px;
  padding-bottom: 47px;
  width: 16px;
  height: 16px;
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
  color: #45bdff;
}

.izl-rmenu a.cart:hover .pic {
  display: block;
}

.izl-rmenu .btn_top {
  display: block;
  width: 82px;
  height: 39px;
  background-image: url(../../image/test/float_top.gif);
  background-repeat: no-repeat;
  background-position: center top;
  transition: all 0s ease-in-out;

  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
}

.izl-rmenu .btn_top:hover {
  background-image: url(../../image/test/float_top.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.izl-rmenu .cart .pic {
  display: none;
  position: absolute;
  left: -160px;
  top: 65px;
  width: 160px;
  height: 160px;
  background: url(../../image/test/weixin.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#udesk-feedback-tab {
  display: block;
  position: fixed;
  right: 2px;
  top: 65%;
  z-index: 999;
  margin-top: -76px;
  width: 82px;
  height: 76px;
  background-color: #fff !important;
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: #ddd 0 -1px 5px;
  cursor: pointer;

  -webkit-box-shadow: #ddd 0 -1px 5px;
  -moz-box-shadow: #ddd 0 -1px 5px;
}

.udesk-feedback-tab-left,
.izl-rmenu {
  opacity: 0.9;
}
