@import "../../style/variables.scss";
@import "../../style/mixins";
// 滚动条样式优化: :
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(#101f1c, 0.1);

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(#101f1c, 0.5);
  background-clip: padding-box;

  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(#101f1c, 1);
}

/* 导航 */
header {
  .navbar {
    margin-bottom: 0;
    background-color: #04084f;
    .logo {
      display: flex;
      align-items: center;
      width: 270px;
      height: 50px;
      img {
        align-items: center;
        width: 30px;
        height: 30px;
      }
    }
    @media (max-width: 750px) {
      .logo {
        margin-left: 7.5px;
      }
      .navbar-toggle {
        border: solid #fff 1px;
        span {
          border-bottom: 1px #fff solid;
        }
      }
    }
    h1 {
      overflow: hidden;
      float: left;
      margin: 0;
      margin-left: 5px;
      border-right: 1px solid transparent;
      width: 250px;
      font-family: "Ma Shan Zheng", cursive;
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      letter-spacing: 1px;
      white-space: nowrap;
      animation: typing 10s steps(36) 0s infinite backwards, caret 500ms steps(1) 0s infinite forwards;
    }
    @keyframes caret {
      50% {
        border-right-color: currentColor;
      }
    }
    @keyframes typing {
      from {
        width: 0;
      }
    }
    .nav {
      li {
        .active {
          color: #e64e4e;
        }
        a {
          font-family: "Noto Sans SC", sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #fff;
          letter-spacing: 0.5px;
        }
        @media (max-width: 970px) {
          a {
            padding: 12px 10px;
            font-size: 12px;
          }
        }
        @media (max-width: 750px) {
          a {
            text-align: center;
          }
        }
        a:hover {
          background-color: #04084f;
          color: #ff9797;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 0;
    }
  }
}

.banner {
  width: 100%;
  height: 243px;
  background: url("../../image/operationManual/banner.png") no-repeat center center;
  background-size: 100% 100%;
}
@media (max-width: 1200px) {
  .banner {
    height: 180px;
  }
}
@media (max-width: 750px) {
  .banner {
    height: 130px;
  }
}

.content {
  position: relative;
  margin: 0 auto;
  width: 78vw;
  height: 2330px;
  .content-body {
    position: absolute;
    top: -120px;
    margin: 0 auto;
    width: 78vw;
    height: 2330px;
    background-color: #fff;
    box-shadow: 0 0 40px 0 rgba(4, 8, 79, 0.07);
    .title-box {
      margin-top: 20px;
      width: 100%;
      height: 20px;
      text-align: center;
      font-size: 18px;
      color: #04084f;
      .title-left {
        display: inline-block;
        position: relative;
        margin-right: 13px;
        margin-bottom: 8px;
        width: 100px;
        height: 1px;
        background-color: #04084f;
        @media (max-width: 375px) {
          width: 70px;
        }
        .title-leftone {
          display: inline-block;
          position: absolute;
          left: 20px;
          top: 4px;
          width: 60px;
          height: 1px;
          background-color: #04084f;
        }
        .title-leftone::after {
          position: absolute;
          right: 0;
          top: -1.5px;
          border: 2px solid #04084f;
          border-radius: 50%;
          content: "";
        }
      }
      .title-left::after {
        position: absolute;
        right: 0;
        top: -1.5px;
        border: 2px solid #04084f;
        border-radius: 50%;
        content: "";
      }
      .title-text {
        font-size: 16px;
        @media (max-width: 750px) {
          font-size: 8px;
        }
      }
      .title-right {
        display: inline-block;
        position: relative;
        margin-left: 13px;
        margin-bottom: 8px;
        width: 100px;
        height: 1px;
        background-color: #04084f;
        @media (max-width: 375px) {
          width: 70px;
        }
        .title-rightone {
          display: inline-block;
          position: absolute;
          right: 20px;
          top: 4px;
          width: 60px;
          height: 1px;
          background-color: #04084f;
        }
        .title-rightone::before {
          position: absolute;
          left: 0;
          top: -1.5px;
          border: 2px solid #04084f;
          border-radius: 50%;
          content: "";
        }
      }
      .title-right::before {
        position: absolute;
        left: 0;
        top: -1.5px;
        border: 2px solid #04084f;
        border-radius: 50%;
        content: "";
      }
    }
    // 销售
    .word-content-xs {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      padding: 0 10%;
      @media (max-width: 940px) and (min-width: 375px) {
        flex-direction: column-reverse;
        justify-content: center;
      }
      .content-box {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 10;
        padding: 0 60px 0 80px;
        height: 310px;
        background-image: url("../../image/operationManual/bgcBlue.png");

        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include dw-button-left;
        @media (max-width: 940px) and (min-width: 375px) {
          padding: 0 60px 0 60px;
          background-image: none;
        }

        .content-text {
          width: 40vw;
          font-size: 12px;
          @media (max-width: 940px) and (min-width: 375px) {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
          }
        }
        img {
          position: absolute;
          left: 2%;
          bottom: -10%;
          @media (max-width: 1000px) {
            display: none;
          }
        }
      }
      .user-image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        margin-left: 50px;
        height: 310px;
        @media (max-width: 940px) and (min-width: 375px) {
          margin: 0 0 20px 0;
        }
        img {
          width: 90px;
          height: 90px;
        }
        span {
          margin-top: 10px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
    // 采购
    .word-content-cg {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      padding: 0 10%;
      @media (max-width: 940px) and (min-width: 375px) {
        flex-direction: column;
        justify-content: center;
      }
      .content-box {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 10;
        padding: 0 80px 0 60px;

        height: 310px;
        background-image: url("../../image/operationManual/bgcRed.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include dw-button-right;
        @media (max-width: 940px) and (min-width: 375px) {
          padding: 0 60px 0 60px;
          background-image: none;
        }

        .content-text {
          width: 40vw;
          font-size: 12px;
          @media (max-width: 940px) and (min-width: 375px) {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
          }
        }
        img {
          position: absolute;
          right: 2%;
          bottom: -10%;
          @media (max-width: 1000px) {
            display: none;
          }
        }
      }
      .user-image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        margin-right: 50px;
        height: 310px;
        @media (max-width: 940px) and (min-width: 375px) {
          margin: 0 0 20px 0;
        }
        img {
          width: 90px;
          height: 90px;
        }
        span {
          margin-top: 10px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
    // 派车
    .word-content-pc {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      padding: 0 10%;
      @media (max-width: 940px) and (min-width: 375px) {
        flex-direction: column-reverse;
        justify-content: center;
      }
      .content-box {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 10;
        padding: 0 60px 0 80px;
        height: 310px;
        background-image: url("../../image/operationManual/bgcGreen.png");

        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include dw-button-left;
        @media (max-width: 940px) and (min-width: 375px) {
          padding: 0 60px 0 60px;
          background-image: none;
        }

        .content-text {
          width: 40vw;
          font-size: 12px;
          @media (max-width: 940px) and (min-width: 375px) {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
          }
        }
        img {
          position: absolute;
          left: 2%;
          bottom: -10%;
          @media (max-width: 1000px) {
            display: none;
          }
        }
      }
      .user-image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        margin-left: 50px;
        height: 310px;
        @media (max-width: 940px) and (min-width: 375px) {
          margin: 0 0 20px 0;
        }
        img {
          width: 90px;
          height: 90px;
        }
        span {
          margin-top: 10px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
    // 发货
    .word-content-fh {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      padding: 0 10%;
      @media (max-width: 940px) and (min-width: 375px) {
        flex-direction: column;
        justify-content: center;
      }
      .content-box {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 10;
        padding: 0 80px 0 60px;

        height: 310px;
        background-image: url("../../image/operationManual/bgcYellow.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include dw-button-right;
        @media (max-width: 940px) and (min-width: 375px) {
          padding: 0 60px 0 60px;
          background-image: none;
        }

        .content-text {
          width: 40vw;
          font-size: 12px;
          @media (max-width: 940px) and (min-width: 375px) {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
          }
        }
        img {
          position: absolute;
          right: 2%;
          bottom: -10%;
          @media (max-width: 1000px) {
            display: none;
          }
        }
      }
      .user-image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        margin-right: 50px;
        height: 310px;
        @media (max-width: 940px) and (min-width: 375px) {
          margin: 0 0 20px 0;
        }
        img {
          width: 90px;
          height: 90px;
        }
        span {
          margin-top: 10px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
    // 仓库
    .word-content-ck {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      padding: 0 10%;
      @media (max-width: 940px) and (min-width: 375px) {
        flex-direction: column-reverse;
        justify-content: center;
      }
      .content-box {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 10;
        padding: 0 60px 0 80px;
        height: 310px;
        background-image: url("../../image/operationManual/bgcDarkGreen.png");

        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include dw-button-left;
        @media (max-width: 940px) and (min-width: 375px) {
          padding: 0 60px 0 60px;
          background-image: none;
        }

        .content-text {
          width: 40vw;
          font-size: 12px;
          @media (max-width: 940px) and (min-width: 375px) {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
          }
        }
        img {
          position: absolute;
          left: 2%;
          bottom: -10%;
          @media (max-width: 1000px) {
            display: none;
          }
        }
      }
      .user-image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        margin-left: 50px;
        height: 310px;
        @media (max-width: 940px) and (min-width: 375px) {
          margin: 0 0 20px 0;
        }
        img {
          width: 90px;
          height: 90px;
        }
        span {
          margin-top: 10px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
    // 管理
    .word-content-gl {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 60px;
      padding: 0 10%;
      @media (max-width: 940px) and (min-width: 375px) {
        flex-direction: column;
        justify-content: center;
      }
      .content-box {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 10;
        padding: 0 80px 0 60px;

        height: 310px;
        background-image: url("../../image/operationManual/bgcViolet.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @include dw-button-right;
        @media (max-width: 940px) and (min-width: 375px) {
          padding: 0 60px 0 60px;
          background-image: none;
        }

        .content-text {
          width: 40vw;
          font-size: 12px;
          @media (max-width: 940px) and (min-width: 375px) {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
          }
        }
        img {
          position: absolute;
          right: 2%;
          bottom: -10%;
          @media (max-width: 1000px) {
            display: none;
          }
        }
      }
      .user-image-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        margin-right: 50px;
        height: 310px;
        @media (max-width: 940px) and (min-width: 375px) {
          margin: 0 0 20px 0;
        }
        img {
          width: 90px;
          height: 90px;
        }
        span {
          margin-top: 10px;
          font-weight: 600;
          font-size: 15px;
        }
      }
    }
  }
}

// footer start
.record-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: $nav-color;

  span {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #fff;
  }
}
// footer end
