@mixin label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .label {
    margin: 0 auto;
    border-radius: 50px;
    width: 100px;
    height: 33px;
    background: #e64e4e;
    line-height: 33px;
    text-align: center;
  }

  span {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
  }
}

@mixin typing($count: 10, $duration: 0, $delay: 0) {
  overflow: hidden;
  border-right: 1px solid transparent;
  width: #{$count + 1}ch;
  font-family: "Ma Shan Zheng", cursive;
  white-space: nowrap;
  animation: typing #{$duration}s steps($count + 1) #{$delay}s infinite backwards,
    caret 500ms steps(1) #{$delay}s infinite forwards;
}

@mixin dw-button-left {
  @keyframes loading {
    0% {
      cy: 10;
    }
    25% {
      cy: 3;
    }
    50% {
      cy: 10;
    }
  }

  canvas {
    pointer-events: none;
    position: absolute;
    top: 15%;
    left: -25%;
    width: 100%;
    z-index: 2;
  }

  button {
    background: none;
    border: none;
    color: #f4f7ff;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    left: 50%;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 190px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;

    &::before {
      background: #e64e4e;
      border-radius: 50px;
      box-shadow: 0 2px 5px #e64e4e inset;
      content: "";
      display: block;
      height: 100%;
      margin: 0 auto;
      position: relative;
      transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
      width: 100%;
    }
  }

  // READY STATE
  button.ready {
    .submitMessage svg {
      opacity: 1;
      top: 1px;
      transition: top 0.4s ease 600ms, opacity 0.3s linear 600ms;
    }

    .submitMessage .button-text span {
      top: 0;
      opacity: 1;
      transition: all 0.2s ease calc(var(--dr) + 600ms);
    }
  }

  // LOADING STATE
  button.loading {
    &::before {
      transition: width 0.3s ease;
      width: 80%;
    }

    .loadingMessage {
      opacity: 1;
    }

    .loadingCircle {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: loading;
      cy: 10;
    }
  }

  // COMPLETE STATE
  button.complete {
    .submitMessage svg {
      top: -30px;
      transition: none;
    }

    .submitMessage .button-text span {
      top: -8px;
      transition: none;
    }

    .loadingMessage {
      top: 80px;
    }

    .successMessage .button-text span {
      left: 0;
      opacity: 1;
      transition: all 0.2s ease calc(var(--d) + 1000ms);
    }

    .successMessage svg {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 0.3s ease-in-out 1.4s;
    }
  }

  .button-text span {
    opacity: 0;
    position: relative;
  }

  .message {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .message svg {
    display: inline-block;
    fill: none;
    margin-right: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

  .submitMessage {
    .button-text span {
      top: 8px;
      transition: all 0.2s ease var(--d);
    }

    svg {
      color: #ffffff;
      margin-left: -1px;
      opacity: 0;
      position: relative;
      top: 30px;
      transition: top 0.4s ease, opacity 0.3s linear;
      width: 14px;
    }
  }

  .loadingMessage {
    opacity: 0;
    transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);

    svg {
      fill: #ffffff;
      margin: 0;
      width: 22px;
    }
  }

  .successMessage {
    .button-text span {
      left: 5px;
      transition: all 0.2s ease var(--dr);
    }

    svg {
      color: #5cffa1;
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
      transition: stroke-dashoffset 0.3s ease-in-out;
      width: 14px;
    }
  }

  .loadingCircle:nth-child(2) {
    animation-delay: 0.1s;
  }
  .loadingCircle:nth-child(3) {
    animation-delay: 0.2s;
  }

  /* Website Link */
  .website-link {
    background: #f8faff;
    border-radius: 50px 0 0 50px;
    bottom: 30px;
    color: #324b77;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    height: 34px;
    filter: drop-shadow(2px 3px 4px rgba(#000, 0.1));
    padding: 0 20px 0 40px;
    position: fixed;
    right: 0;
    text-align: left;
    text-decoration: none;

    &__icon {
      left: -10px;
      position: absolute;
      top: -12px;
      width: 44px;
    }

    &__name {
      display: block;
      font-size: 14px;
      line-height: 14px;
      margin: 5px 0 3px;
    }

    &__last-name {
      color: #55bada;
    }

    &__message {
      color: #8aa8c5;
      display: block;
      font-size: 7px;
      line-height: 7px;
    }
  }
}

@mixin dw-button-right {
  @keyframes loading {
    0% {
      cy: 10;
    }
    25% {
      cy: 3;
    }
    50% {
      cy: 10;
    }
  }

  canvas {
    pointer-events: none;
    position: absolute;
    top: 15%;
    right: -25%;
    width: 100%;
    z-index: 2;
  }

  button {
    background: none;
    border: none;
    color: #f4f7ff;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 40px;
    right: 50%;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    top: 80%;
    right: 2%;
    transform: translate(-50%, -50%);
    width: 190px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;

    &::before {
      background: #e64e4e;
      border-radius: 50px;
      box-shadow: 0 2px 5px #e64e4e inset;
      content: "";
      display: block;
      height: 100%;
      margin: 0 auto;
      position: relative;
      transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
      width: 100%;
    }
  }

  // READY STATE
  button.ready {
    .submitMessage svg {
      opacity: 1;
      top: 1px;
      transition: top 0.4s ease 600ms, opacity 0.3s linear 600ms;
    }

    .submitMessage .button-text span {
      top: 0;
      opacity: 1;
      transition: all 0.2s ease calc(var(--dr) + 600ms);
    }
  }

  // LOADING STATE
  button.loading {
    &::before {
      transition: width 0.3s ease;
      width: 80%;
    }

    .loadingMessage {
      opacity: 1;
    }

    .loadingCircle {
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: loading;
      cy: 10;
    }
  }

  // COMPLETE STATE
  button.complete {
    .submitMessage svg {
      top: -30px;
      transition: none;
    }

    .submitMessage .button-text span {
      top: -8px;
      transition: none;
    }

    .loadingMessage {
      top: 80px;
    }

    .successMessage .button-text span {
      left: 0;
      opacity: 1;
      transition: all 0.2s ease calc(var(--d) + 1000ms);
    }

    .successMessage svg {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 0.3s ease-in-out 1.4s;
    }
  }

  .button-text span {
    opacity: 0;
    position: relative;
  }

  .message {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .message svg {
    display: inline-block;
    fill: none;
    margin-right: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
  }

  .submitMessage {
    .button-text span {
      top: 8px;
      transition: all 0.2s ease var(--d);
    }

    svg {
      color: #ffffff;
      margin-left: -1px;
      opacity: 0;
      position: relative;
      top: 30px;
      transition: top 0.4s ease, opacity 0.3s linear;
      width: 14px;
    }
  }

  .loadingMessage {
    opacity: 0;
    transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);

    svg {
      fill: #ffffff;
      margin: 0;
      width: 22px;
    }
  }

  .successMessage {
    .button-text span {
      left: 5px;
      transition: all 0.2s ease var(--dr);
    }

    svg {
      color: #5cffa1;
      stroke-dasharray: 20;
      stroke-dashoffset: 20;
      transition: stroke-dashoffset 0.3s ease-in-out;
      width: 14px;
    }
  }

  .loadingCircle:nth-child(2) {
    animation-delay: 0.1s;
  }
  .loadingCircle:nth-child(3) {
    animation-delay: 0.2s;
  }

  /* Website Link */
  .website-link {
    background: #f8faff;
    border-radius: 50px 0 0 50px;
    bottom: 30px;
    color: #324b77;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    height: 34px;
    filter: drop-shadow(2px 3px 4px rgba(#000, 0.1));
    padding: 0 20px 0 40px;
    position: fixed;
    right: 0;
    text-align: left;
    text-decoration: none;

    &__icon {
      left: -10px;
      position: absolute;
      top: -12px;
      width: 44px;
    }

    &__name {
      display: block;
      font-size: 14px;
      line-height: 14px;
      margin: 5px 0 3px;
    }

    &__last-name {
      color: #55bada;
    }

    &__message {
      color: #8aa8c5;
      display: block;
      font-size: 7px;
      line-height: 7px;
    }
  }
}
