@import "./variables";
@import "./mixins";
.top-nav {
  width: 100%;
  height: 50px;
  background-color: $nav-color;
  position: fixed;
  top: 0px;
  z-index: 99999;
  font-size: 14px;
  display: flex;
  .logo-box {
    .title-text {
      font-size: 16px;
      font-family: "Ma Shan Zheng", cursive;
      font-weight: 400;
      color: $nav-text-color;
      letter-spacing: 1px;
      @include typing(35, 10);
    }
  }
  // .navbar-brand {
  //   span {
  //     font-size: 16px;
  //     font-family: "Ma Shan Zheng", cursive;
  //     font-weight: 400;
  //     color: $nav-text-color;
  //     letter-spacing: 1px;
  //     @include typing(35, 10);
  //     z-index: 9999;
  //   }
  // }
  

  // .center {
  //   width: 80%;
  //   height: 100%;
  //   margin: 0 auto;
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: center;

  //   .logo-box {
  //     flex: 1;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     justify-content: flex-start;

  //     img {
  //       width: 30px;
  //       height: 30px;
  //       margin-right: 5px;
  //     }
  //     .title-text {
  //       font-size: 16px;
  //       font-family: "Ma Shan Zheng", cursive;
  //       font-weight: 400;
  //       color: $nav-text-color;
  //       letter-spacing: 1px;
  //       @include typing(35, 10);
  //     }
  //     @keyframes caret {
  //       50% {
  //         border-right-color: currentColor;
  //       }
  //     }
  //     @keyframes typing {
  //       from {
  //         width: 0;
  //       }
  //     }
  //   }

  //   .content-box {
  //     flex: 1;
  //     display: flex;
  //     flex-direction: row;
  //     font-size: 14px;
  //     .content-ul {
  //       width: 100%;
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: flex-end;

  //       li {
  //         width: 80px;
  //         list-style: none;
  //         padding: 10px;
  //         text-align: center;

  //         a {
  //           text-decoration: none;
  //           color: $nav-text-color;
  //           font-size: 12px;
  //           font-family: "Noto Sans SC", sans-serif;
  //           letter-spacing: 0.5px;
  //           font-weight: 400;
  //         }

  //         a:hover {
  //           color: $hover-color;
  //         }
  //       }

  //       .active {
  //         a {
  //           color: $active-color;
  //         }
  //       }
  //     }
  //   }
  // }
}
