$nav-color: #04084f;
$nav-text-color: #ffffff;
$footer-color: #04084f;
$btn-color: #e64e4e;
$active-color: #e64e4e;
$hover-color: #ff9797;
$hr-color: #e64e4e;
$font-family: "Roboto", sans-serif;
$font-size-base: 0.925rem;
$base-color: #66f;
$text-dark: #ffffff;
$border-color: #ececec;
$navbar-body-color: #04084f;
$navbar-link-hover: $base-color;
$navbar-dropdown-separator-color: #eee;
$navbar-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
