.top-nav {
  width: 100%;
  height: 50px;
  background-color: #04084f;
  position: fixed;
  top: 0px;
  z-index: 99999;
}
.top-nav .center {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top-nav .center .logo-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.top-nav .center .logo-box img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.top-nav .center .logo-box .title-text {
  font-size: 16px;
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  overflow: hidden;
  border-right: 1px solid transparent;
  width: 36ch;
  font-family: "Ma Shan Zheng", cursive;
  white-space: nowrap;
  animation: typing 10s steps(36) 0s infinite backwards, caret 500ms steps(1) 0s infinite forwards;
}
@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.top-nav .center .content-box {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.top-nav .center .content-box .content-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top-nav .center .content-box .content-ul li {
  width: 80px;
  list-style: none;
  padding: 10px;
  text-align: center;
}
.top-nav .center .content-box .content-ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.top-nav .center .content-box .content-ul li a:hover {
  color: #ff9797;
}
.top-nav .center .content-box .content-ul .active a {
  color: #e64e4e;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(16, 31, 28, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(16, 31, 28, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #101f1c;
}

.banner {
  width: 100%;
  height: 428px;
  background: url("../../image/contact/banner.png") no-repeat center center;
  background-size: 100% 100%;
}

.content {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
.content .content-feedback {
  width: 1200px;
  margin: 100px auto 101px;
  height: 465px;
}
.content .content-feedback .feedback-top {
  width: 100%;
  height: 90px;
  background-color: #F4BD42;
  position: relative;
}
.content .content-feedback .feedback-top .feedback-img {
  width: 500px;
  height: 435px;
  position: absolute;
  top: 30px;
  left: 99px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.content .content-feedback .feedback-top .feedback-img img {
  width: 100%;
  height: 100%;
}
.content .content-feedback .feedback-form {
  float: right;
  margin-right: 63px;
  margin-top: 64px;
}
.content .content-feedback .feedback-form .form-label {
  color: #666666;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  position: relative;
}
.content .content-feedback .feedback-form .form-label input {
  width: 375px;
  height: 40px;
  margin-left: 10px;
  padding-left: 21px;
  font-size: 16px;
  color: #333333;
}
.content .content-feedback .feedback-form .form-label select {
  width: 400px;
  height: 40px;
  margin-left: 10px;
  padding-left: 21px;
  font-size: 16px;
  color: #333333;
}
.content .content-feedback .feedback-form .form-label textarea {
  width: 354px;
  height: 129px;
  float: right;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 16px;
  color: #333333;
  resize: none;
}
.content .content-feedback .feedback-form .form-label .textarea-label {
  position: absolute;
  top: 0;
}

.record-information {
  width: 100%;
  height: 50px;
  background-color: #04084f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.record-information span {
  font-size: 10px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  color: #ffffff;
}