@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
.navbar .container {
    display: block;
  }
}

.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  background-color: #04084f;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: white;
  display: block;
}
.navbar .navbar-header .navbar-toggler span img {
  width: 30px;
  height: 30px;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #ffffff;
}
.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eee;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #ffffff;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(16, 31, 28, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(16, 31, 28, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #101f1c;
}

.banner {
  width: 100%;
  height: 250px;
  background: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/banner.png") no-repeat center center;
  background-size: 100% 100%;
}

.introduction {
  width: 100%;
}
.introduction .box-introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  height: 400px;
}
.introduction .box-introduction .img-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.introduction .box-introduction .img-box img {
  width: 200px;
  height: 200px;
}
.introduction .box-introduction .description-box {
  width: 470px;
}
.introduction .box-introduction .description-box .label-box {
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #e64e4e;
  border-radius: 30px;
  margin: 0 auto 30px;
}
.introduction .box-introduction .description-box .text-box {
  font-size: 14px;
  font-family: "Noto Sans SC", sans-serif;
  color: #333;
}
.introduction .box-introduction .description-box .text-box p {
  line-height: 18px;
  text-indent: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.features-section {
  width: 100%;
  background-color: #f2f2f4;
}
.features-section .box-features {
  width: 50%;
  margin: 0 auto;
  height: 350px;
  display: flex;
}
.features-section .box-features .description-box {
  flex: 2;
}
.features-section .box-features .description-box .label-box {
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #e64e4e;
  border-radius: 30px;
  margin: 50px auto 0;
}
.features-section .box-features .description-box .ul-box {
  margin-top: 37px;
  width: 100%;
}
.features-section .box-features .description-box .ul-box .li-box {
  width: 50%;
  height: 50px;
  float: left;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.features-section .box-features .description-box .ul-box .li-box .box-img {
  width: 33px;
  height: 30px;
  margin-top: 5px;
}
.features-section .box-features .description-box .ul-box .li-box .box-img img {
  width: 100%;
  height: 100%;
}
.features-section .box-features .description-box .ul-box .li-box .box-content {
  margin-left: 20px;
  font-family: "Noto Sans SC", sans-serif;
}
.features-section .box-features .description-box .ul-box .li-box .box-content .boxcontent-title {
  color: #333333;
  font-size: 14px;
  font-weight: 550;
}
.features-section .box-features .description-box .ul-box .li-box .box-content .boxcontent-text {
  color: #666666;
  font-size: 12px;
  width: 168px;
}
.features-section .box-features .img-box {
  position: relative;
  flex: 1;
  width: 221px;
  height: 100%;
}
.features-section .box-features .img-box img {
  position: absolute;
  top: -25px;
  width: 100%;
  height: 350px;
}

.advantage {
  width: 60%;
  height: 480px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.advantage .advantage-title {
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #e64e4e;
  border-radius: 30px;
  margin: 0px auto 40px;
}
.advantage .advantage-classify {
  display: flex;
}
.advantage .advantage-classify .advantage-type {
  flex: 1;
  height: 300px;
  text-align: center;
  transition: all 0.2s ease-in;
}
.advantage .advantage-classify .advantage-type .advanragetype-img {
  width: 155px;
  height: 100px;
  margin: 46px auto 35px;
}
.advantage .advantage-classify .advantage-type .advanragetype-img img {
  width: 100%;
  height: 100%;
}
.advantage .advantage-classify .advantage-type .advanragetype-title {
  font-size: 16px;
  color: #333333;
  font-weight: 550;
  font-family: "Noto Sans SC", sans-serif;
}
.advantage .advantage-classify .advantage-type .advanragetype-division {
  width: 54px;
  height: 2px;
  background-color: #e64e4e;
  margin: 10px auto;
}
.advantage .advantage-classify .advantage-type .advanragetype-content {
  width: 350px;
  font-size: 14px;
  font-family: "Noto Sans SC", sans-serif;
  color: #666666;
  margin: 0 auto;
}
.advantage .advantage-classify .advantage-type:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0px, -2px);
  transform: translate3d(0, 1px, -2px);
}

.last {
  background-image: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/footer.png");
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-size: 100.2%;
}
.last .last-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 750px;
  height: 200px;
}
.last .last-box .button-box {
  margin-right: 170px;
  margin-top: 50px;
}
.last .last-box .button-box .operation {
  border-style: none;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  outline: none;
  background: #e64e4e;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
  line-height: 40px;
}
.last .last-box .button-box .operation img {
  width: 20px;
  height: 20px;
}
.last .last-box .button-box .operation:hover {
  background-color: #e64e4e;
  opacity: 0.85;
}
.last .last-box .button-box .operation:active {
  border-style: none;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  background: #e64e4e;
  opacity: 0.7;
  color: #fff;
}
.last .last-box .content-box {
  margin-top: 20px;
  width: 300px;
}
.last .last-box .content-box span {
  border-radius: 50px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 100;
  font-size: 10px;
  color: #fff;
  letter-spacing: 2px;
}

.record-information {
  width: 100%;
  height: 50px;
  background-color: #04084f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.record-information span {
  font-size: 10px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  color: #ffffff;
}