.top-nav {
  width: 100%;
  height: 50px;
  background-color: #04084f;
  position: fixed;
  top: 0px;
  z-index: 99999;
  font-size: 14px;
}
.top-nav .center {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top-nav .center .logo-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.top-nav .center .logo-box img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.top-nav .center .logo-box .title-text {
  font-size: 16px;
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  overflow: hidden;
  border-right: 1px solid transparent;
  width: 36ch;
  font-family: "Ma Shan Zheng", cursive;
  white-space: nowrap;
  animation: typing 10s steps(36) 0s infinite backwards, caret 500ms steps(1) 0s infinite forwards;
}
@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
.top-nav .center .content-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.top-nav .center .content-box .content-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top-nav .center .content-box .content-ul li {
  width: 80px;
  list-style: none;
  padding: 10px;
  text-align: center;
}
.top-nav .center .content-box .content-ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.top-nav .center .content-box .content-ul li a:hover {
  color: #ff9797;
}
.top-nav .center .content-box .content-ul .active a {
  color: #e64e4e;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(16, 31, 28, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(16, 31, 28, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #101f1c;
}

.swiper-container {
  margin-top: 50px;
  width: 100%;
  height: 450px;
  text-align: center;
}
.swiper-container img {
  width: 100%;
  height: 100%;
}

.box-introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 579px;
}
.box-introduction .img-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  height: 100%;
}
.box-introduction .img-box img {
  margin-right: 168px;
  width: 314px;
  height: 313px;
}
.box-introduction .description-box {
  width: 579px;
}
.box-introduction .description-box .label-box {
  width: 144px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background-color: #E64E4E;
  border-radius: 30px;
  margin: 0 auto 30px;
}
.box-introduction .description-box .text-box {
  font-size: 14px;
  font-family: "Noto Sans SC", sans-serif;
  color: #333;
}
.box-introduction .description-box .text-box p {
  line-height: 18px;
  text-indent: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.features-section {
  width: 100%;
  background-color: #F2F2F4;
  position: relative;
}
.features-section .img-box {
  width: 442px;
  height: 518px;
  position: absolute;
  right: 405px;
  top: -51px;
}
.features-section .img-box img {
  width: 100%;
  height: 100%;
}
.features-section .box-features {
  width: 663px;
  height: 404px;
  margin-left: 21%;
  padding-top: 63px;
}
.features-section .box-features .label-box {
  width: 144px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background-color: #E64E4E;
  border-radius: 30px;
  margin: 0 auto;
}
.features-section .box-features .ul-box {
  margin-top: 37px;
  width: 100%;
}
.features-section .box-features .ul-box .li-box {
  width: 50%;
  height: 70px;
  float: left;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}
.features-section .box-features .ul-box .li-box .box-img {
  width: 47px;
  height: 47px;
  margin-top: 5px;
}
.features-section .box-features .ul-box .li-box .box-img img {
  width: 100%;
  height: 100%;
}
.features-section .box-features .ul-box .li-box .box-content {
  margin-left: 20px;
  font-family: "Noto Sans SC", sans-serif;
}
.features-section .box-features .ul-box .li-box .box-content .boxcontent-title {
  color: #333333;
  font-size: 16px;
  font-weight: 550;
}
.features-section .box-features .ul-box .li-box .box-content .boxcontent-text {
  color: #666666;
  font-size: 14px;
  width: 168px;
  margin-top: 8px;
}

.box-advantage {
  width: 1200px;
  height: 606px;
  background-color: #fff;
  padding-top: 100px;
  margin: 0 auto;
}
.box-advantage .advantage-title {
  width: 144px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  background-color: #E64E4E;
  border-radius: 30px;
  margin: 0px auto 40px;
}
.box-advantage .tab-box {
  display: flex;
}
.box-advantage .tab-box .tab-article {
  flex: 1;
  height: 419px;
  text-align: center;
  transition: all 0.2s ease-in;
}
.box-advantage .tab-box .tab-article .tab-img {
  width: 235px;
  height: 162px;
  margin: 46px auto 35px;
}
.box-advantage .tab-box .tab-article .tab-img img {
  width: 100%;
  height: 100%;
}
.box-advantage .tab-box .tab-article .tab-title {
  font-size: 16px;
  color: #333333;
  font-weight: 550;
  font-family: "Noto Sans SC", sans-serif;
}
.box-advantage .tab-box .tab-article .tab-division {
  width: 54px;
  height: 2px;
  background-color: #E64E4E;
  margin: 10px auto;
}
.box-advantage .tab-box .tab-article .tab-content {
  width: 350px;
  font-size: 14px;
  font-family: "Noto Sans SC", sans-serif;
  color: #666666;
  margin: 0 auto;
}
.box-advantage .tab-box .tab-article:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0px, -2px);
  transform: translate3d(0, 1px, -2px);
}

.last {
  background-image: url("https://supply-company.oss-cn-shanghai.aliyuncs.com/image/footer.png");
  background-repeat: no-repeat;
  background-position-x: -2px;
  background-size: 100.2%;
}
.last .last-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 750px;
  height: 200px;
}
.last .last-box .button-box {
  margin-right: 170px;
  margin-top: 50px;
}
.last .last-box .button-box .operation {
  border-style: none;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  outline: none;
  background: #e64e4e;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #fff;
  letter-spacing: 2px;
  line-height: 40px;
}
.last .last-box .button-box .operation img {
  width: 20px;
  height: 20px;
}
.last .last-box .button-box .operation:hover {
  background-color: #e64e4e;
  opacity: 0.85;
}
.last .last-box .button-box .operation:active {
  border-style: none;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  background: #e64e4e;
  opacity: 0.7;
  color: #fff;
}
.last .last-box .content-box {
  margin-top: 20px;
  width: 300px;
}
.last .last-box .content-box span {
  border-radius: 50px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 100;
  font-size: 10px;
  color: #fff;
  letter-spacing: 2px;
}

.record-information {
  width: 100%;
  height: 50px;
  background-color: #04084f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.record-information span {
  font-size: 10px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  color: #ffffff;
}