@charset "UTF-8";
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 2em;
  width: 6px;
  background: rgba(16, 31, 28, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  min-height: 28px;
  background-color: rgba(16, 31, 28, 0.5);
  background-clip: padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #101f1c;
}

/* 导航 */
header .navbar {
  margin-bottom: 0;
  background-color: #04084f;
}
header .navbar .logo {
  width: 270px;
  height: 50px;
  display: flex;
  align-items: center;
}
header .navbar .logo img {
  width: 30px;
  height: 30px;
  align-items: center;
}
@media (max-width: 750px) {
  header .navbar .logo {
    margin-left: 7.5px;
  }
  header .navbar .navbar-toggle {
    border: solid #fff 1px;
  }
  header .navbar .navbar-toggle span {
    border-bottom: 1px #fff solid;
  }
}
header .navbar h1 {
  float: left;
  margin: 0;
  width: 210px;
  font-size: 16px;
  font-family: "Ma Shan Zheng", cursive;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  overflow: hidden;
  border-right: 1px solid transparent;
  margin-left: 5px;
  white-space: nowrap;
  animation: typing 10s steps(36) 0s infinite backwards, caret 500ms steps(1) 0s infinite forwards;
}
@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
header .navbar .nav li .active {
  color: #e64e4e;
}
header .navbar .nav li a {
  color: #ffffff;
  font-size: 12px;
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}
@media (max-width: 970px) {
  header .navbar .nav li a {
    padding: 12px 10px;
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  header .navbar .nav li a {
    text-align: center;
  }
}
header .navbar .nav li a:hover {
  color: #ff9797;
  background-color: #04084f;
}
@media (min-width: 768px) {
  header .navbar {
    border-radius: 0;
  }
}

.banner {
  width: 100%;
  height: 369px;
  background: url("../../image/introduction/banner.png") no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 1240px) {
  .banner {
    height: 269px;
  }
}
@media (max-width: 750px) {
  .banner {
    height: 169px;
  }
}
.content {
  width: 100%;
}
.content .business {
  width: 55%;
  height: 240px;
  background-color: #fff;
  margin: -80px auto 0;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  position: relative;
}
.content .business .bussiness-title {
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background-color: #E64E4E;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: -16px;
  left: 41%;
}
@media (max-width: 750px) {
  .content .business .bussiness-title {
    left: 39%;
  }
}
@media (max-width: 470px) {
  .content .business .bussiness-title {
    left: 34%;
  }
}
@media (max-width: 375px) {
  .content .business .bussiness-title {
    left: 30%;
  }
}
.content .business .bussiness-classify {
  display: flex;
  padding-left: 0;
  height: 120px;
  margin-bottom: 0;
}
.content .business .bussiness-classify .bussiness-type {
  flex: 1;
  height: 60px;
  margin: auto 0;
  display: flex;
  flex-direction: row;
  padding-left: 4%;
}
.content .business .bussiness-classify .bussiness-type .busstype-img {
  width: 55px;
  height: 55px;
  margin: auto 0;
}
.content .business .bussiness-classify .bussiness-type .busstype-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1555px) {
  .content .business .bussiness-classify .bussiness-type .busstype-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 1381px) {
  .content .business .bussiness-classify .bussiness-type .busstype-img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 1240px) {
  .content .business .bussiness-classify .bussiness-type .busstype-img {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 940px) {
  .content .business .bussiness-classify .bussiness-type .busstype-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 750px) {
  .content .business .bussiness-classify .bussiness-type .busstype-img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 470px) {
  .content .business .bussiness-classify .bussiness-type .busstype-img {
    width: 35px;
    height: 30px;
  }
}
@media (max-width: 375px) {
  .content .business .bussiness-classify .bussiness-type .busstype-img {
    display: none;
  }
}
.content .business .bussiness-classify .bussiness-type .busstype-right {
  margin-left: 20px;
}
.content .business .bussiness-classify .bussiness-type .busstype-right .busstype-title {
  font-size: 14px;
  color: #333333;
  font-weight: 550;
}
@media (max-width: 1240px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right .busstype-title {
    margin-top: 20px;
  }
}
@media (max-width: 940px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right .busstype-title {
    margin-top: 15px;
  }
}
@media (max-width: 750px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right .busstype-title {
    margin-top: 0;
    height: 25px;
    line-height: 25px;
  }
}
@media (max-width: 470px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right .busstype-title {
    height: 20px;
  }
}
.content .business .bussiness-classify .bussiness-type .busstype-right .busstype-content {
  width: 183px;
  font-size: 12px;
  color: #666666;
  margin-top: 2px;
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 1px;
  line-height: 18px;
}
@media (max-width: 1240px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right .busstype-content {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right .busstype-content {
    margin-top: 0;
    height: 25px;
  }
}
@media (max-width: 1456px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right {
    margin-left: 10px;
  }
}
@media (max-width: 1240px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right {
    margin-left: 30px;
  }
}
@media (max-width: 940px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right {
    margin-left: 20px;
  }
}
@media (max-width: 470px) {
  .content .business .bussiness-classify .bussiness-type .busstype-right {
    margin-left: 10px;
  }
}
@media (max-width: 1700px) {
  .content .business .bussiness-classify .bussiness-type {
    padding-left: 2%;
  }
}
@media (max-width: 1297px) {
  .content .business .bussiness-classify .bussiness-type {
    padding-left: 1%;
  }
}
@media (max-width: 1240px) {
  .content .business .bussiness-classify .bussiness-type {
    flex: none;
    width: 340px;
    height: 80px;
    padding-left: 0;
    margin: 0 auto 10px;
  }
}
@media (max-width: 940px) {
  .content .business .bussiness-classify .bussiness-type {
    width: 310px;
    height: 70px;
  }
}
@media (max-width: 750px) {
  .content .business .bussiness-classify .bussiness-type {
    width: 65%;
    height: 50px;
    margin-bottom: 20px;
  }
}
@media (max-width: 570px) {
  .content .business .bussiness-classify .bussiness-type {
    width: 75%;
  }
}
@media (max-width: 1240px) {
  .content .business .bussiness-classify {
    flex-direction: column;
    height: 270px;
  }
}
@media (max-width: 940px) {
  .content .business .bussiness-classify {
    height: 240px;
  }
}
@media (max-width: 750px) {
  .content .business .bussiness-classify {
    height: 210px;
  }
}
@media (max-width: 1240px) {
  .content .business {
    width: 50%;
    height: 580px;
    padding-top: 30px;
  }
}
@media (max-width: 940px) {
  .content .business {
    height: 530px;
  }
}
@media (max-width: 750px) {
  .content .business {
    width: 65%;
    height: 465px;
  }
}
.content .clouddata {
  width: 55%;
  height: 350px;
  margin: 186px auto 0;
  position: relative;
}
.content .clouddata .clouddata-title {
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background-color: #E64E4E;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: -70px;
  left: 45%;
}
.content .clouddata .clouddata-classify {
  display: flex;
}
.content .clouddata .clouddata-classify .clouddata-type {
  flex: 1;
  height: 330px;
  text-align: center;
  transition: all 0.2s ease-in;
}
.content .clouddata .clouddata-classify .clouddata-type .cloudtype-img {
  width: 88px;
  height: 88px;
  margin: 60px auto 30px;
}
.content .clouddata .clouddata-classify .clouddata-type .cloudtype-img img {
  width: 100%;
  height: 100%;
}
.content .clouddata .clouddata-classify .clouddata-type .cloudtype-title {
  font-size: 14px;
  color: #333333;
  font-weight: 550;
}
.content .clouddata .clouddata-classify .clouddata-type .cloudtype-content {
  width: 258px;
  overflow: hidden;
  margin: 20px auto 0;
  font-size: 12px;
  color: #666666;
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 1px;
  line-height: 18px;
}
.content .clouddata .clouddata-classify .clouddata-type:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0px, -2px);
  transform: translate3d(0, 1px, -2px);
}
.content .systemhome {
  width: 55%;
  height: 550px;
  margin: 180px auto 0;
  position: relative;
}
.content .systemhome .systemhome-title {
  width: 100px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background-color: #E64E4E;
  border-radius: 30px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: -85px;
  left: 45%;
}
.content .systemhome .systemhome-classify {
  width: 100%;
  height: 100%;
}
.content .systemhome .systemhome-classify .systemhome-type {
  width: 50%;
  height: 240px;
  float: left;
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: row;
}
.content .systemhome .systemhome-classify .systemhome-type .systemtype-img {
  width: 250px;
  height: 178px;
  margin-left: 26px;
  margin-top: 51px;
}
.content .systemhome .systemhome-classify .systemhome-type .systemtype-img img {
  width: 100%;
  height: 100%;
}
.content .systemhome .systemhome-classify .systemhome-type .systemtype-right {
  margin-top: 51px;
  margin-left: 35px;
}
.content .systemhome .systemhome-classify .systemhome-type .systemtype-right .systemtype-title {
  font-size: 14px;
  color: #333333;
  font-weight: 550;
  margin-top: 19px;
}
.content .systemhome .systemhome-classify .systemhome-type .systemtype-right .systemtype-content {
  width: 187px;
  font-size: 12px;
  color: #666666;
  margin-top: 17px;
  line-height: 18px;
  font-family: "Noto Sans SC", sans-serif;
  letter-spacing: 1px;
}
.content .systemhome .systemhome-classify .systemhome-type:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate3d(0, 0px, -2px);
  transform: translate3d(0, 1px, -2px);
}

.record-information {
  width: 100%;
  height: 50px;
  background-color: #04084f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.record-information span {
  font-size: 10px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

/*回到顶部以及客服 css*/
.izl-rmenu {
  margin-right: 0;
  width: 82px;
  position: fixed;
  right: 2px;
  top: 65%;
  -webkit-box-shadow: #DDD 0px 1px 5px;
  -moz-box-shadow: #DDD 0px 1px 5px;
  box-shadow: #DDD 0px 1px 5px;
  z-index: 999;
}

.izl-rmenu .consult {
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center -77px;
  display: block;
  height: 76px;
  width: 82px;
}

.izl-rmenu .consult .phone {
  background-color: #f7f7ff;
  position: absolute;
  width: 160px;
  left: -160px;
  top: 0px;
  line-height: 73px;
  color: #000;
  font-size: 18px;
  text-align: center;
  display: none;
  box-shadow: #DDD -1px 1px 4px;
}

.izl-rmenu a.consult:hover .phone {
  display: inline !important;
}

.izl-rmenu .cart {
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
  display: block;
  height: 16px;
  width: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #45BDFF;
  text-align: center;
  padding-top: 15px;
  padding-right: 34px;
  padding-bottom: 47px;
  padding-left: 48px;
}

.izl-rmenu a.cart:hover .pic {
  display: block;
}

.izl-rmenu .btn_top {
  background-image: url(../../image/test/float_top.gif);
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  height: 39px;
  width: 82px;
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}

.izl-rmenu .btn_top:hover {
  background-image: url(../../image/test/float_top.gif);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.izl-rmenu .cart .pic {
  display: none;
  position: absolute;
  left: -160px;
  top: 65px;
  width: 160px;
  height: 160px;
  background: url(../../image/test/weixin.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#udesk-feedback-tab {
  position: fixed;
  right: 2px;
  top: 65%;
  margin-top: -76px;
  -webkit-box-shadow: #DDD 0px -1px 5px;
  -moz-box-shadow: #DDD 0px -1px 5px;
  box-shadow: #DDD 0px -1px 5px;
  cursor: pointer;
  background-image: url(../../image/test/consult_icon.gif);
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  height: 76px;
  width: 82px;
  background-color: #FFF !important;
  z-index: 999;
}

.udesk-feedback-tab-left, .izl-rmenu {
  opacity: 0.9;
}